docker/mysql/*
node_modules/*
src/node_modules
src/frontend/node_modules
src/public/build
src/public/hot
src/public/storage
src/storage/*.key
src/public/css
src/public/img
src/public/fonts
src/public/js
src/public/scss
src/vendor
src/.env
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode

